In [1]:
import pandas as pd
import numpy as np

In [12]:
data = "Construction - DPR Plan- Aug.csv"
df = pd.read_csv(data)
df.head()

,S.NO.,PROGRAM GROUP,TRANSFORMATION,ACTIVITY ID,ACTIVITY DESCRIPTION,START DATE,END DATE,UNIT,PLANNED QTY,YEAR,MONTH
0,1,BLD-2248-D-PW|A|1|A,PILING WORK,1583,P&C bored cast in-situ pile-600mm /97 T,14-12-2019,25-06-2020,M,1987.5,2020,8
1,2,BLD-2248-D-PW|A|1|B,PILING WORK,1584,P&C bored cast in-situ pile-750mm /158 T,14-12-2019,25-06-2020,M,24963.0,2020,8
2,3,BLD-2248-D-PW|A|2,PILING WORK,1585,P&F reinf steel incl tran/strght/cut/Bnd,14-12-2019,25-06-2020,MT,1525.0,2020,8
3,4,BLD-2248-D-PW|A|3|A|I,PILING WORK,1586,Vertical load test/ 600 mm/ 97 T,20-02-2020,30-05-2020,EA,1.0,2020,8
4,5,BLD-2248-D-PW|A|3|A|II,PILING WORK,1587,Vertical load test/ 600 mm/ 158 T,20-02-2020,30-05-2020,EA,2.0,2020,8

In [3]:
df.columns

Index(['S.NO.', 'PROGRAM GROUP', 'TRANSFORMATION', 'ACTIVITY ID',
       'ACTIVITY DESCRIPTION', 'START DATE', 'END DATE', 'UNIT', 'PLANNED QTY',
       'YEAR', 'MONTH'],
      dtype='object')

In [7]:
df.corr()

                S.NO.  ACTIVITY ID  PLANNED QTY  YEAR  MONTH
S.NO.        1.000000     1.000000    -0.162828   NaN    NaN
ACTIVITY ID  1.000000     1.000000    -0.162828   NaN    NaN
PLANNED QTY -0.162828    -0.162828     1.000000   NaN    NaN
YEAR              NaN          NaN          NaN   NaN    NaN
MONTH             NaN          NaN          NaN   NaN    NaN

In [8]:
#find missing values

df.isnull().values.sum()

0

In [9]:
#find unique value in assigned column

column_values = df[[ "UNIT"]].values.ravel()
unique_values =  pd.unique(column_values)
unique_values.size

13

In [10]:
column_values = df[[ "TRANSFORMATION"]].values.ravel()
unique_values =  pd.unique(column_values)
unique_values.size

45